html {
  background-color: black;
}

body {
  background-color: rgba(254,250,224, 1);
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

section {
  height: 250px;
}

nav {
  background-color: rgb(212,163,115);
  padding: 0.2em;
  position: sticky;
  top: 0;
  z-index: 2;
}

footer {
  background-color: rgb(212,163,115);
  padding: 1em;
}

a {
  text-decoration: none;
  color: white;
}

#container {
  height: fit-content;
}

#gallery {
  background-color: rgb(250,237,205);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* general decorations */

nav li:hover {
  background-color: rgba(139, 124, 173, 0.577);
  padding: 0.5em;
  border-radius: 1em;
}

footer#contact {
  display: flex;
  flex-flow: column;
}

ul#socials {
  margin-top: 1em;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* Mobile Display */

@media only screen and (max-width: 480px) {
  nav {
    position: static;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  nav ul > li {
    flex: 1 1 100%;
    font-size: 1.3em;
  }

  ul#socials li {
    flex: 1 1 100%;
  }
}

/* Window Display*/

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
